@{
    ViewData["Title"] = "Login Page";
}

<!--login template-->
<div class="text-center">
    <h2 class="display-4">Locadora</h2>
    <p>Faça o Login no sistema </p>
</div>
<div style="width:300px;margin-left:405px;">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" id="inputSenha" placeholder="Senha">
    </div>
    <div class="form-group form-check">
    </div>
    <button id="btn1" type="submit" class="btn btn-primary" style="margin-left:115px;">Entrar</button>
</div>

@section Scripts {
    <script src="~/js/login.js"></script>
}




