@{
    ViewData["Title"] = "Cliente Page";
}
<div class="text-left col-md-6">
    <h2 class="display-6">Gerenciar Clientes</h2>
</div>
<!--Get Cliente-->
<div style="float:right;">
    <div class="form-group col-md-6">
        <label>Id do Cliente</label>
        <input id="inputIdCliente" type="number" class="form-control" placeholder="Informe o Id" style="width:130px;">
    </div>
    <div class="form-group col-md-6">
        <label>Nome do Cliente</label>
        <input id="inputNome" type="text" class="form-control" placeholder="Nome" style="width:400px;">
    </div>
    <div class="form-group col-md-6">
        <label>Documento</label>
        <input id="inputCpf" type="number" class="form-control" placeholder="CPF" style="width:400px;">
    </div>
    <div class="form-group col-md-6">
        <label>Reserva</label>
        <input id="inputReserva" type="number" class="form-control" placeholder="Numero Reserva" style="width:400px;">
    </div>
    <div>
        <button id="btnBuscar" type="submit" class="col-md-3 btn btn-primary" style="margin-top:13px;margin-left:15px;">Buscar</button>
    </div>
</div>
<!--Post Cliente-->
<div>
    <div class="form-group col-md-6">
        <label>Nome do Cliente</label>
        <input id="inputNome" type="text" class="form-control" placeholder="Nome" style="width:400px;">
    </div>
    <div class="form-group col-md-6">
        <label>Documento</label>
        <input id="inputCpf" type="number" class="form-control" placeholder="CPF" style="width:400px;">
    </div>
</div>
<div class="form-group col-md-6">
    <button id="btnCadastrar" type="submit" class="btn btn-secondary" style="margin-top:13px">Cadastrar</button>
</div>

@section Scripts {
    <script src="~/js/clientes.js"></script>
}