@{
    ViewData["Title"] = "Cliente Page";
}

<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="text-left col-md-6">
    <h2 class="display-6">Gerenciar Clientes</h2>
</div>

<div class="row form-group col-xl-12">
    <div class="col form-group">
        <div class="form-group">
            <div class="form-group">
                <div>
                    <label>ID do Cliente</label>
                </div>
                <div>
                    <label id="inputIdCliente"></label>                    
                </div>                
            </div>
        </div>
        <div class="form-group">
            <label>Nome do Cliente</label>
            <input id="inputNome" type="text" class="col-4 form-control" placeholder="Nome">
        </div>
        <div class="form-group">
            <label>Documento</label>
            <div class="input-group">
                <input id="inputCpf" class="col-4 form-control" type="text" placeholder="CPF" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <span id="btnSearch" class="btn btn-primary material-icons" type="button">search</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="btnCriarReserva" type="submit" class="btn btn-secondary">Criar Reserva</button>
            <button id="btnCadastrar" type="submit" class="btn btn-secondary">Cadastrar</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/clientes.js"></script>    
}