
<!DOCTYPE html>
<html lang="pt-br">
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>
    @*<div class="col form-group">
        <div class="form-group">
        <div>
        <label>ID do Cliente</label>
        </div>
        <div>
        <label id="inputIdCliente"></label>
        </div>
        <div>
        <label id="inputNome"></label>
        </div>
        </div>
        <div class="form-group">
        <label>Documento</label>
        <div class="input-group">
        <input id="inputCpf" class="col-3 form-control" type="text" placeholder="CPF" aria-describedby="basic-addon1">
        <div class="input-group-append">
        <span id="btnSearch" class="btn btn-primary material-icons" type="button">search</span>
        </div>
        </div>
        </div>
        <div class="form-row align-items-center">
        <div class="col-auto my-1">
        <select id="idFilme" class="custom-select mr-sm-2">
        <option selected>Filmes</option>
        <option value="1">Viuva Negra 1</option>
        <option value="2">Space Jam: Um Novo Legado 2</option>
        </select>
        </div>
        </div>
        <div class="form-group">
        <button id="btnLocar" type="submit" class="btn btn-primary" style="margin-top:13px">Locar</button>
        </div>
        </div>
        </div>
        </div>*@
    @*-----------------BeginTable-----------------*@
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8" style="bottom:80px;">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h2 class="card-title">Locação de Filmes</h2>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">CPF</label>
                                            <input id="inputCpf" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group" style="top:35px;right:20px;">
                                            <span id="btnSearch" class=" material-icons" style="color:purple;" type="button">search</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <h4><b>Informações do Cliente</b></h4>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>
                                                <h4><b>Nome:</b></h4>
                                                <h5 id="inputNome"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>Email:</b></h4>
                                                <h5 id="inputContatoEmail"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>Celular:</b></h4>
                                                <h5 id="inputContatoCelular"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>Rua:</b></h4>
                                                <h5 id="inputEndereco"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>Numero:</b></h4>
                                                <h5 id="inputEnderecoNumero"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>Bairro:</b></h4>
                                                <h5 id="inputEnderecoBairro"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>CEP:</b></h4>
                                                <h5 id="inputEnderecoCEP"></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4><b>Cidade:</b></h4>
                                                <h5 id="inputEnderecoCidade"></h5>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <button id="btnLocar" type="submit" class="btn btn-primary pull-right">Locar</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@*-----------------EndTable-------------*@

<script src="~/js/scripts/jquery.min.js"></script>
<script src="~/js/scripts/popper.js"></script>
<script src="~/js/scripts/bootstrap.min.js"></script>
<script src="~/src/assets/demo/demo.js"></script>
<script src="~/js/controllers/booking.js"></script>
